
<div class="home">
    <div class="container">
        <header class="header">
            <nav class="header__menu">
                <div class="menu__logo">
                    <a href="">
                        <span>P</span>REFACE
                    </a>
                </div>
                <div class="menu__links">
                    <div class="link">
                        <a href="">HOME</a>
                    </div>
                    <div class="link">
                        <a href="#about">ABOUT</a>
                    </div>
                    <div class="link">
                        <a href="#services">SERVICES</a>
                    </div>
                    <div class="link">
                        <a href="#experience">EXPERIENCE</a>
                    </div>
                    <div class="link">
                        <a href="#portfolio">PORTFOLIO</a>
                    </div>
                    <div class="link">
                        <a href="#blog">BLOG</a>
                    </div>
                    <div class="link">
                        <a href="#contact">CONTACT</a>
                    </div>
                </div>
            </nav>
            <div class="info">
                <div class="info__left">
                    <h1>Hi !</h1>
                    <h6>Хто я ?</h6>
                    <ul class="info__address">
                        <li>
                            <ul class="address_text">
                                <li>
                                    <b>NAME</b>
                                </li>
                                <li>I'M VARYGIN EGOR</li>
                            </ul>
                        </li>
                        <li>
                            <ul class="address_text">
                                <li>
                                    <b>D.O.B</b>
                                </li>
                                <li>31-08-2002</li>
                            </ul>
                        </li>
                        <li>
                            <ul class="address_text">
                                <li>
                                    <b>PHONE</b>
                                </li>
                                <li>+8 800-555-35-35</li>
                            </ul>
                        </li>
                        <li>
                            <ul class="address_text">
                                <li>
                                    <b>ADDRESS</b>
                                </li>
                                <li>Chemical Street 33, Kazan</li>
                            </ul>
                        </li>
                        <li>
                            <ul class="address_text">
                                <li>
                                    <b>E-MAIL</b>
                                </li>
                                <li><a href="mailto:variginegor@gmail.com"></a>variginegor@gmail.com</li>
                            </ul>
                        </li>
                        <li>
                            <ul class="address_text">
                                <li>
                                    <b>WEBSITE</b>
                                </li>
                                <li> <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">www.myresume.com</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="info__right">
                    <img src="~/images/img1.jpg" alt="">
                </div>
            </div>
        </header>
    </div>
</div>
<div id="about" class="about">
    <div class="about__right">
        <div class="about__right__top_txt">
            <h1>Hi! I'm <span>Varygin Egor</span></h1>
        </div>
        <div class="about__right__desc">
            <h6>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure, animi laudantium tenetur optio
                excepturi nemo iste velit nisi aliquid asperiores aspernatur quae minus impedit? Nemo velit qui
                deserunt ut nulla.
            </h6>
        </div>
        <a href="">My Work</a>
        <a href="">Hire Me</a>
    </div>
    <div class="about__left">
    </div>
</div>
<div id="services" class="services">
    <div class="container">
        <div class="services__head__txt">
            <h4>WHAT I DO</h4>
            <h3>MY <span>SERVICES</span></h3>
            <span class="services__head__border"></span>
        </div>
        <div class="services__menu">
            <div class="services__menu__buttons">
                <div class="button__icon">
                    <div class="circle__icon">
                        <i class="pencil"></i>
                    </div>
                </div>
                <div class="button__desc">
                    <h4>WEB DESIGN</h4>
                    <p>                      
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis eveniet at quos architecto
                        in perferendis ea eum suscipit perspiciatis natus modi ipsa.
                    </p>
                </div>
            </div>
           
            <div class="services__menu__buttons">
                <div class="button__icon">
                    <div class="circle__icon">
                        <i class="gear"></i>
                    </div>
                </div>
                <div class="button__desc">
                    <h4>WEB DESIGN</h4>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis eveniet at quos architecto
                        in perferendis ea eum suscipit perspiciatis natus modi ipsa.
                    </p>
                </div>
            </div>
            <div class="services__menu__buttons">
                <div class="button__icon">
                    <div class="circle__icon">
                        <i class="sheet"></i>
                    </div>
                </div>
                <div class="button__desc">
                    <h4>WEB DESIGN</h4>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis eveniet at quos architecto
                        in perferendis ea eum suscipit perspiciatis natus modi ipsa.
                    </p>
                </div>
            </div>
            <div class="services__menu__buttons">
                <div class="button__icon">
                    <div class="circle__icon">
                        <i class="gift"></i>
                    </div>
                </div>
                <div class="button__desc">
                    <h4>WEB DESIGN</h4>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis eveniet at quos architecto
                        in perferendis ea eum suscipit perspiciatis natus modi ipsa.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="experience" class="experience">
    <div class="container">
        <div class="withcontainer__head__txt">
            <h4>WHAT I DID</h4>
            <h3>MY <span>EXPERIENCE</span></h3>
            <span class="withcontainer__head__border"></span>
        </div>
        <div class="calendar">
            <div class="calendar__years">
                <ul>
                    <li>2016</li>
                    <li>2015</li>
                    <li>2014</li>
                    <li>2013</li>
                    <li>2012</li>
                </ul>
            </div>
            <ul class="calendar__desc">
                <li>
                    <div class="calendar__icons1">
                        <span class="icon__briefcase glyphicon glyphicon-briefcase
							"></span>
                    </div>
                    <div class="calendar__company__name">
                        <div class="calendar__txthead">
                            <h4>COMPANY NAME</h4>
                        </div>
                        <div class="calendar__textbody">
                            <p>
                                Lorem ipsum dolor sit amet.Itaque earum rerum hic tenetur a sapiente delectus, ut aut
                                reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus
                            </p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="calendar__icons2">
                        <span class="icon__briefcase glyphicon glyphicon-briefcase
							"></span>
                    </div>
                    <div class="calendar__company__name">
                        <div class="calendar__txthead">
                            <h4>COMPANY NAME</h4>
                        </div>
                        <div class="calendar__textbody">
                            <p>
                                Lorem ipsum dolor sit amet.Itaque earum rerum hic tenetur a sapiente delectus, ut aut
                                reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus
                            </p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="calendar__icons3">
                        <span class="icon__briefcase glyphicon glyphicon-briefcase
							"></span>
                    </div>
                    <div class="calendar__company__name">
                        <div class="calendar__txthead">
                            <h4>COMPANY NAME</h4>
                        </div>
                        <div class="calendar__textbody">
                            <p>
                                Lorem ipsum dolor sit amet.Itaque earum rerum hic tenetur a sapiente delectus, ut aut
                                reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus
                            </p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="calendar__icons4">
                        <span class="icon__briefcase glyphicon glyphicon-briefcase
							"></span>
                    </div>
                    <div class="calendar__company__name">
                        <div class="calendar__txthead">
                            <h4>COMPANY NAME</h4>
                        </div>
                        <div class="calendar__textbody">
                            <p>
                                Lorem ipsum dolor sit amet.Itaque earum rerum hic tenetur a sapiente delectus, ut aut
                                reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus
                            </p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="calendar__icons5">
                        <span class="icon__briefcase glyphicon glyphicon-briefcase
							"></span>
                    </div>
                    <div class="calendar__company__name">
                        <div class="calendar__txthead">
                            <h4>COMPANY NAME</h4>
                        </div>
                        <div class="calendar__textbody">
                            <p>
                                Lorem ipsum dolor sit amet.Itaque earum rerum hic tenetur a sapiente delectus, ut aut
                                reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus
                            </p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<div id="portfolio" class="portfolio">
    <div class="portfolio__head__txt">
        <h4>MY WORKS</h4>
        <h3>MY <span>PORTFOLIO</span></h3>
        <span class="portfolio__head__border"></span>
    </div>
    <div class="portfolio__photo">
        <ul class="portfolio__buttons">
            <li>
                <span>ALL</span>
            </li>
            <li>
                <span>WEB DESIGN</span>
            </li>
            <li>
                <span>MOBILE UI</span>
            </li>
            <li>
                <span>ILLUSTRATIONS</span>
            </li>
        </ul>

       
       
    </div>
</div>
<div id="blog" class="blog">
    <div class="container">
        <div class="withcontainer__head__txt">
            <h4>BLOGS</h4>
            <h3>MY <span>BLOGS</span></h3>
            <span class="withcontainer__head__border"></span>
        </div>
        <div class="blog__article">
            <div class="article__img article__img__left">
                <a href="">
                    <img src="~/images/b1.jpg" alt="">
                </a>
            </div>
            <div class="article__text article__text__right">
                <h3>
                    <a href="">HERE GOES AN AWESOME BLOG TITLE</a>
                </h3>
                <ul>
                    <li>
                        <i class="glyph__admin"></i>
                        <a href="">Admin</a>
                    </li>
                    <li>
                        <i class="glyph__comm"></i>
                        <a href="">2 Comments</a>
                    </li>
                    <li>
                        <i class="glyph__likes"></i>
                        <a href="">50 Likes</a>
                    </li>
                    <li>
                        <i class="glyph__tags"></i>
                        <a href="">3 Tags</a>
                    </li>
                </ul>
                <p>
                    Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias
                    consequatur aut perferendis doloribus asperiores repellat. Neque porro quisquam est, qui dolorem
                    ipsum quia dolor sit amet.
                </p>
                <a href="" class="article__text__btn__readMore">Read More</a>
            </div>
        </div>
        <div class="blog__article">
            <div class="article__img article__img__right">
                <a href="">
                    <img src="~/images/b2.jpg" alt="">
                </a>
            </div>
            <div class="article__text article__text__left">
                <h3>
                    <a href="">HERE GOES AN AWESOME BLOG TITLE</a>
                </h3>
                <ul>
                    <li>
                        <i class="glyph__admin"></i>
                        <a href="">Admin</a>
                    </li>
                    <li>
                        <i class="glyph__comm"></i>
                        <a href="">2 Comments</a>
                    </li>
                    <li>
                        <i class="glyph__likes"></i>
                        <a href="">50 Likes</a>
                    </li>
                    <li>
                        <i class="glyph__tags"></i>
                        <a href="">3 Tags</a>
                    </li>
                </ul>
                <p>
                    Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias
                    consequatur aut perferendis doloribus asperiores repellat. Neque porro quisquam est, qui dolorem
                    ipsum quia dolor sit amet.
                </p>
                <a href="" class="article__text__btn__readMore">Read More</a>
            </div>
        </div>
        <div class="blog__article">
            <div class="article__img article__img__left">
                <a href="">
                    <img src="~/images/b3.jpg" alt="">
                </a>
            </div>
            <div class="article__text article__text__right">
                <h3>
                    <a href="">HERE GOES AN AWESOME BLOG TITLE</a>
                </h3>
                <ul>
                    <li>
                        <i class="glyph__admin"></i>
                        <a href="">Admin</a>
                    </li>
                    <li>
                        <i class="glyph__comm"></i>
                        <a href="">2 Comments</a>
                    </li>
                    <li>
                        <i class="glyph__likes"></i>
                        <a href="">50 Likes</a>
                    </li>
                    <li>
                        <i class="glyph__tags"></i>
                        <a href="">3 Tags</a>
                    </li>
                </ul>
                <p>
                    Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias
                    consequatur aut perferendis doloribus asperiores repellat. Neque porro quisquam est, qui dolorem
                    ipsum quia dolor sit amet.
                </p>
                <a href="" class="article__text__btn__readMore">Read More</a>
            </div>
        </div>
    </div>
</div>
<div id="contact" class="contact">
    <div class="container">
        <div class="withcontainer__head__txt">
            <h4>CONTACT ME</h4>
            <h3 style="color: #f4f4f4;">GET <span>IN TOUCH WITH ME</span></h3>
            <span class="withcontainer__head__border"></span>
        </div>
        <div class="mail">
            <div class="mail__left">
                <div class="mail__left__cell">
                    <div class="mail__left__cell__container">
                        <span class="glyph glyph__mail"></span>
                        <h4>Contact By Email</h4>
                        <ul>
                            <li>
                                Mail1: <a href="">variginegor@gmail.com</a>
                            </li>
                            <li>
                                Mail1: <a href="">variginegor@gmail.com</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="mail__left__cell">
                    <div class="mail__left__cell__container">
                        <span class="glyph glyph__phone"></span>
                        <h4>Contact By Phone</h4>
                        <ul>
                            <li>
                                Phone: 8 800 555-35-35
                            </li>                            
                        </ul>
                    </div>
                </div>
                <div class="mail__left__cell">
                    <div class="mail__left__cell__container">
                        <span class="glyph glyph__house">

                        </span>
                        <h4>Looking For Address</h4>
                        <ul>
                            <li>
                                Address: Chemical Street 33
                            </li>
                            <li>
                                Russia, Kazan
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="mail__right">
				@await Html.PartialAsync("Partial/_EmailPartial")
			</div>            
        </div>
        <div class="footer">
            <p>
                © 2022 Preface . All rights reserved | Design by <a href="http://w3layouts.com/">W3Layouts.</a>
            </p>
        </div>
    </div>
</div>
